---
export interface Props {
    imgLink: string;
    jobTitle: string;
    company: string;
    date: string;
    technologies: string[];
    bulletPoints: string[];
}

const { imgLink, jobTitle, company, date, technologies, bulletPoints } = Astro.props;

import IconComp from "./IconComp.astro";
---

<div class="p-6 bg-bg-purp-light rounded-lg shadow-md 2xl:w-3/4">
    <div class="flex flex-col md:flex-row justify-between items-center mb-4">
        <div class="flex flex-row">
            <div class="fade-in flex items-center">
                <img src={imgLink} alt="{jobTitle}" class="w-16 h-16 mr-4" />
            </div>
            <div class="flex flex-col">
                <h2 class="fade-in text-xl font-bold text-t-gold">{jobTitle}</h2>
                <p class="fade-in text-lg font-semibold">{company}</p>
            </div>
        </div>
        <span class="fade-in text-t-dark text-sm">{date}</span>
    </div>

    <div class="fade-in flex flex-wrap gap-2 mb-4">
        {technologies.map((tech) => 
            <IconComp tech={tech} />
        )}
    </div>

    <ul class="list-disc pl-5 space-y-2">
        {bulletPoints.map((point) => <li class="fade-in">{point}</li>)}
    </ul>
</div>

<script>
const techIcons = document.querySelectorAll(".tech-icon");

// for mobile equivalent of :hover, we use touch events
techIcons.forEach((icon) => {
    icon.addEventListener("touchstart", (e) => {
        const span: HTMLSpanElement | null = icon.querySelector("span");
        span!.style.opacity = "1";
        span!.style.visibility = "visible";
        setTimeout(() => {
            span!.style.opacity = "";
            span!.style.visibility = "";
        }, 1000);
    });
});
</script>